include ../../assets/pug/_head
include ../../assets/pug/_scripts

- title = 'Leo encuestas'

<!DOCTYPE html>
html(lang="es")
    +head
        style.
            .drag {
                height: auto;
                min-width: 140px;
            }
            .drop{
                min-width: 140px;
            }
            .drag .opt {
                background: #f5f5f5;
                padding: 4px 10px;
                border-radius: 4px;
                box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
            }
            .drag .opt .number {
                padding: 2px 6px;
                background: #A0D092;
                margin-left: 6px;
                border-radius: 4px;
                font-size: 1rem;
            }
            .draggs {
                justify-content: center;
                gap: 4px;
            }
            .drag .opt {
                margin: 4px 0;
                
                justify-content: space-between;
            }
            
            .drag .number {
                font-size: 0.8rem;
            }
            .drop {
                min-height: 26px;
                border: 2px dashed var(--main);
                border-radius: 4px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .drop.w20, .drag.w20 {
                width: 18%;
            }
            .drop{
                position: relative;
            }
            .drop .number {
                font-size: 0.8rem;
                margin-left: auto;
                position: absolute;
                top: -4x;
                right: -4px;
                text-shadow: none;
                background: var(--main);
                padding: 1px 2px;
                border-radius: 3px;
                
            }
            .drop .opt {
                background: #fff;
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
            .drop.hover {
                background: rgba(0, 0, 0, 0.1);
            }
            .girl {
                max-width: 200px;
            }
            @media (max-width: 680px) {
                .girl {
                    max-width: 100%;
                }
            }
            @media (max-width: 680px) {
                .draggs {
                    gap: 2px;
                }
                .drag {
                    padding: 0;
                }
                .drag .opt {
                    padding: 2px;
                    font-size: 0.9rem;
                }
                .drag .opt .number {
                    font-size: 0.8rem;
                }
            }



    body
        #app
            // START
            scene(v-if="currentScene==0" :key="0" start-scene @completed="sceneCompleted")

            // SCENES
            scene(v-if="currentScene==1" :key="1" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="temps.p1.length" scene-color="#ED1C25")
                info(type="dragdrop" :speed-offset="1.2" title=title text="Ayuda a Monse a escribir qué son las encuestas. Coloca en orden alfabético los recuadros para descubrir la información." textaudio="s/instruccion1.mp3" :autoplay="true")
                    //audiotext(v-if="temps.au1" :autoplay="true" audio="s/a1.mp3" text="")
                activity
                    .row.w100.text-center: .w40.ml-auto: img(src="i/girl.png").girl
                    .row.w100.wrap.draggs
                        template(v-for="(i, index) in temps.p1")
                            drag( no-error-sound :data="i[0]" dropzone=".drop" stay-if-ok append-to-dropzone initclass="w20")
                                .opt.row
                                    span {{i[1]}}
                                    number(c=1 smaller) {{i[0]}}
                    .row.w100.wrap.draggs.mt-auto.mb-auto
                        template(v-for="(i, index) in temps.p1R")
                            .drop(:data="i[0]" droptimes="untilok").w20
            // SCENES
            scene(v-if="currentScene==2" :key="2" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="temps.p2.length" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Ayuda a Monse a escribir qué son las encuestas. Coloca en orden alfabético los recuadros para descubrir la información." textaudio="s/instruccion1.mp3" :autoplay="false")
                    //audiotext(v-if="temps.au1" :autoplay="true" audio="s/a1.mp3" text="")
                activity
                    .row.w100.text-center: .w40.ml-auto: img(src="i/girl.png").girl
                    .row.w100.wrap.draggs
                        template(v-for="(i, index) in temps.p2")
                            drag( no-error-sound :data="i[0]" dropzone=".drop" stay-if-ok append-to-dropzone initclass="w20")
                                .opt.row
                                    span {{i[1]}}
                                    number(c=1 smaller) {{i[0]}}
                    .row.w100.wrap.draggs.mt-auto.mb-auto
                        template(v-for="(i, index) in temps.p2R")
                            .drop(:data="i[0]" droptimes="untilok").w20
            // SCENES
            scene(v-if="currentScene==3" :key="3" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="temps.p3.length" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Ayuda a Monse a escribir qué son las encuestas. Coloca en orden alfabético los recuadros para descubrir la información." textaudio="s/instruccion1.mp3" :autoplay="false")
                    //audiotext(v-if="temps.au1" :autoplay="true" audio="s/a1.mp3" text="")
                activity
                    .row.w100.text-center: .w40.ml-auto: img(src="i/girl.png").girl
                    .row.w100.wrap.draggs
                        template(v-for="(i, index) in temps.p3")
                            drag( no-error-sound :data="i[0]" dropzone=".drop" stay-if-ok append-to-dropzone initclass="w20")
                                .opt.row
                                    span {{i[1]}}
                                    number(c=1 smaller) {{i[0]}}
                    .row.w100.wrap.draggs.mt-auto.mb-auto
                        template(v-for="(i, index) in temps.p3R")
                            .drop(:data="i[0]" droptimes="untilok").w20
            // SCENES
            scene(v-if="currentScene==4" :key="4" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="temps.p4.length" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Ayuda a Monse a escribir qué son las encuestas. Coloca en orden alfabético los recuadros para descubrir la información." textaudio="s/instruccion1.mp3" :autoplay="false")
                    //audiotext(v-if="temps.au1" :autoplay="true" audio="s/a1.mp3" text="")
                activity
                    .row.w100.text-center: .w40.ml-auto: img(src="i/girl.png").girl
                    .row.w100.wrap.draggs
                        template(v-for="(i, index) in temps.p4")
                            drag( no-error-sound :data="i[0]" dropzone=".drop" stay-if-ok append-to-dropzone initclass="w20")
                                .opt.row
                                    span {{i[1]}}
                                    number(c=1 smaller) {{i[0]}}
                    .row.w100.wrap.draggs.mt-auto.mb-auto
                        template(v-for="(i, index) in temps.p4R")
                            .drop(:data="i[0]" droptimes="untilok").w20
            // SCENES
            scene(v-if="currentScene==5" :key="5" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="temps.p5.length" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="Ayuda a Monse a escribir qué son las encuestas. Coloca en orden alfabético los recuadros para descubrir la información." textaudio="s/instruccion1.mp3" :autoplay="false")
                    //audiotext(v-if="temps.au1" :autoplay="true" audio="s/a1.mp3" text="")
                activity
                    .row.w100.text-center: .w40.ml-auto: img(src="i/girl.png").girl
                    .row.w100.wrap.draggs
                        template(v-for="(i, index) in temps.p5")
                            drag( no-error-sound :data="i[0]" dropzone=".drop" stay-if-ok append-to-dropzone initclass="w20")
                                .opt.row
                                    span {{i[1]}}
                                    number(c=1 smaller) {{i[0]}}
                    .row.w100.wrap.draggs.mt-auto.mb-auto
                        template(v-for="(i, index) in temps.p5R")
                            .drop(:data="i[0]" droptimes="untilok").w20
            // SCENES
            scene(v-if="currentScene==6" :key="6" :score="scoreInScene" :temporals="temporals" alloks alloks-sound="../../assets/asound/bienhecho_mujer.mp3" @completed="sceneCompleted" :devmode="$devmode" :answers="1" scene-color="#ED1C25")
                info(type="dragdrop" title=title text="¡Muy bien! La tarea de Monse quedó genial." textaudio="s/a6.mp3" :autoplay="true")
                    //audiotext(v-if="temps.au1" :autoplay="true" audio="s/a1.mp3" text="")
                activity
                    .row.w100
                        .w70: img(src="i/note.png").w100.animate__animated.animate__zoomInDown
                    .row.w100.text-center: button(@click="sceneCompleted(false)").button.big.animate__animated.animate__flip Finalizar
            
            // END
            scene(v-if="currentScene==7" :key="7" end-scene :final-data="finalData")
        
        +scripts
            script.

                app.$devmode = false
                app.$set(app.temps, 'au1', [])
                app.$set(app.temps, 'p1', [
                    ['E','para'],
                    ['B','encuestas'],
                    ['I','opiniones'],
                    ['C','se'],
                    ['K','necesidades'],
                    ['J','o'],
                    ['D','utilizan'],
                    ['H','intereses,'],
                    ['L','sobre'],
                    ['M','un'],
                    ['N','tema.'],
                    ['F','conocer'],
                    ['A','Las'],
                    ['G','información,'],
                ])


                app.$set(app.temps, 'p2', [
                    ['Y','cerradas.'],
                    ['V','y'],
                    ['L','preguntas'],
                    ['I','de'],
                    ['M','en las'],
                    ['C','Hay dos'],
                    ['Q','encuestas:'],
                    ['F','tipos'],
                    ['T','abiertas'],
                ])
                
                app.$set(app.temps, 'p3', [
                    ['e','se pueden difundir'],
                    ['u','de encuesta.'],
                    ['i','por medio'],
                    ['o','de un reporte'],
                    ['a','Los resultados'],
                ])
                
                app.$set(app.temps, 'p4', [
                    ['C','encuesta'],
                    ['F','desarrollo y'],
                    ['A','Un'],
                    ['G','conclusiones.'],
                    ['D','incluye:'],
                    ['B','reporte de'],
                    ['E','introducción'],
                ])
                app.$set(app.temps, 'p5', [
                    ['E','o reporte'],
                    ['U','informativo.'],
                    ['A','El informe'],
                    ['O','es un texto'],
                    ['I','de encuesta'],
                ])
                 app.$set(app.temps, 'p1R', JSON.parse(JSON.stringify(app.temps.p1)).sort())
                 app.$set(app.temps, 'p2R', JSON.parse(JSON.stringify(app.temps.p2)).sort())
                 app.$set(app.temps, 'p3R', JSON.parse(JSON.stringify(app.temps.p3)).sort())
                 app.$set(app.temps, 'p4R', JSON.parse(JSON.stringify(app.temps.p4)).sort())
                 app.$set(app.temps, 'p5R', JSON.parse(JSON.stringify(app.temps.p5)).sort())


                app.currentScene = 0
                app.scenesCount = 5