mixin table(indexvmodel, campos, regulartext)
    - var vmcount = 0
    .tablemod
        each row,indx in campos
            .row.no-gutters(class="ix_"+indx   )
                each field,findx in row
                    if typeof field === 'object'
                        .col(class="cl_"+findx)
                            - var tipo = 'number'
                            if typeof field[0] === 'string'
                                - tipo = 'text'
                            inputbox(v-model="r["+(vmcount+indexvmodel)+"]" :ref="refCount()" @isright="right++" :answer=field[0] type=tipo placeh="#")
                                if field[1]
                                    template(v-slot:before="") !{field[1]}
                                if field[2]
                                    template(v-slot:after="") !{field[2]}
                        - vmcount++
                    else 
                        .col(class="cl_"+findx)
                            if regulartext
                                span !{field}
                            else
                                inputbox(answer=field type="number" example)


//
    - var tb = []
    - tb.push([[8], 16, [32], [40], 56])
    +table(0, tb)
    // +table(vmmodel, camposVar, regulartext)